<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Whisper-ESCOM || Identification</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Handlee|Josefin+Sans:300,600&amp;display=swap'>
  <link rel="stylesheet" href="./css/style.css">
  <script src="./js/htmx.min.js" defer></script>
  <script  src="./js/script.js" defer></script>
  <script src="./js/registro.js" defer></script>
  <script src="./js/login.js" defer></script>
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="card-wrap">
    <div class="card border-0 shadow card--welcome is-show" id="welcome">
      <div class="card-body">
        <p>
          <h2 class="card-title">Bienvenido a...</h2>
          <h1 class="card-text">Whisper-ESCOM</h1>
        </p>
        <div class="btn-wrap">
          <a class="btn btn-lg btn-register js-btn" data-target="register">CREAR CUENTA</a>
          <a class="btn btn-lg btn-login js-btn" data-target="login">INICIAR SESIÓN</a></div>
      </div>
    </div>
    <div class="card border-0 shadow card--register" id="register">
      <div class="card-body">
        <h2 class="card-title">¡Crea tu nueva cuenta!</h2>
        <p class="card-text">Ingresa tus datos de registro<br/>y únete a la comunidad Whisper-ESCOM</p>
        <form name="form-registro">
          <div class="form-group">
            <input class="form-control" name="usuario" type="text" placeholder="Usuario" required="required"/>
          </div>
          <div class="form-group">
            <input class="form-control" name="correo" type="email" placeholder="Email" required="required"/>
          </div>
          <div class="form-group">
            <input 
              class="form-control"
              name="password" 
              type="password" 
              placeholder="Contraseña" 
              required="required"
              pattern="(?=.*\d)(?=.*[!@#$%^&*])\S{6,}"
              oninvalid="this.setCustomValidity('La contraseña debe contener al menos 6 caracteres, un número y un caracter especial')"
              oninput="this.setCustomValidity('')"
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              name="conf_pass" 
              type="password" 
              placeholder="Repite la contraseña" 
              required="required"
              oninput="this.setCustomValidity('')"
            />
          </div>
          <div class="form-group">
            <p class="card-text hidden-input">Ingresa el código de verificación <br/> que te enviamos a tu correo electrónico</p>
            <input class="form-control hidden-input code" name="code" type="text" placeholder="Código de verificación"/>
          </div>
          <input
            id="btn-crear-cuenta"
            type="submit"
            value="CREAR CUENTA"
            class="btn btn-lg"
          />
          <input
            id="btn-reenviar"
            type="button"
            value="REENVIAR"
            class="btn btn-lg hidden-input"
            hx-trigger="click"
            hx-post="/resend"
            hx-swap="none"
            hx-params="correo, usuario"
          />
          <div class="form-group">
            <span class="error">
              
              <!-- Aquí se mostrará el error en caso de que no se pueda registrar -->
            </span>
          </div>
        </form>
      </div>
      <button class="btn btn-back js-btn" data-target="welcome" onclick="ask_for_code = false; cssOcultarCodigo();"><i class="fas fa-angle-left"></i></button>
    </div>
    <div class="card border-0 shadow card--login" id="login">
      <div class="card-body">
        <h2 class="card-title lnk-forgot">¡Hola de nuevo!</h2>
        <h2 class="card-title hidden-input">Reestableciendo <br> contraseña</h2>
        <p class="lnk-forgot">Por favor, ingresa tus datos de inicio de sesión</p>
        <!-- Usaremos HTMX en lugar de action y method para contactar con /login -->
        <form name="form-login">
          <div class="form-group lnk-forgot">
            <input class="form-control" name="email" type="email" placeholder="Usuario o Email" required="required"/>
          </div>
          <div class="form-group lnk-forgot">
            <input class="form-control" name="password" type="password" placeholder="Contraseña" required="required"/>
          </div>
          <p>
            <a
              id="lnk-forgot"
              class="link lnk-forgot"
              hx-post="/forgot"
              hx-confirm="Se enviará un correo para restablecer tu contraseña, ¿estás seguro?"
              hx-swap="none"
              hx-trigger="click"
              hx-params="email"
            >¿Olvidaste tu contraseña?</a>
          </p>
          <p class="hidden-input">
            Escribe una nueva contraseña para <br> sustituír la anterior
          </p>
          <div class="form-group hidden-input">
            <input 
              class="form-control"
              name="res-password" 
              type="password" 
              placeholder="Contraseña" 
              required="required"
              pattern="(?=.*\d)(?=.*[!@#$%^&*])\S{6,}"
              oninvalid="this.setCustomValidity('La contraseña debe contener al menos 6 caracteres, un número y un caracter especial')"
              oninput="this.setCustomValidity('')"
            />
          </div>
          <div class="form-group hidden-input">
            <input
              class="form-control"
              name="res-conf_pass" 
              type="password" 
              placeholder="Repite la contraseña" 
              required="required"
              oninput="this.setCustomValidity('')"
            />
          </div>
          <div class="form-group hidden-input">
            <p class="card-text">Para confirmar el reestablecimiento <br> ingresa el código enviado a tu correo electrónico. </p>
            <input class="form-control code" name="res-code" type="text" placeholder="Código de verificación" required="required"/>
          </div>
          <button class="btn btn-lg lnk-forgot" style="transition: all .3s, transform 0s;"
            id="btn-login"
            hx-trigger = "click"
            hx-post = "/login"
            hx-swap = "none"
            hx-target = "#login-error"
          >INICIAR SESIÓN</button>
          <!-- Colocamos los 3 parametros aunque solo se utilicen 2, para poder 
          utilizarlos en JS medainte el evento htmx:beforeRequest -->
          <button class="btn btn-lg hidden-input"
            id="btn-reset"
            class="lnk-forgot"
            hx-post="/reset"
            hx-swap="outerHTML"
            hx-trigger="click"
            hx-params="res-password, res-code, res-conf_pass"
          > REESTABLECER </button>
          <div class="form-group">
            <span id="login-error" class="error">
              
              <!-- Aquí se mostrará el error en caso de que no se pueda iniciar sesión -->
            </span>
          </div>
        </form>
      </div>
      <button onclick="cssOcultarInput();cssMostrarEnlace();" class="btn btn-back js-btn" data-target="welcome"><i class="fas fa-angle-left"></i></button>
    </div>
  </div>
</div>
<!-- partial -->
  

</body>
</html>
